.App {
  text-align: center;

  .container.header {
    margin: 50px 0;

    .logo,
    .description {
      margin-bottom: 20px;
    }

    .actions form {
      margin-bottom: 20px;
    }
  }

  .container.list .action {
    vertical-align: top;
    padding-left: 10px;
  }
}
